<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    

    <div class="container">
        <h1>Data FROM Wish Page</h1>

    <img src="{% static 'images/nature.PNG' %}" alt="nature">


    <p>Insert Time: {{insert_time}}</p>
    <p>Name: {{name}}</p>
    <p>RollNo: {{rollno}}</p>
    <p>Marks: {{marks}}</p>
    </div>


    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>