<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <div class="container">
        <img src="{% static 'Images/nature.PNG' %}" alt="nature">
        <h2>Time: {{current_time}}</h2>
        <h2>Message: {{greeting}}</h2>
    </div>



</body>
</html>